* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  z-index: 1;
  margin-bottom: 0;
}
/* org */

.top-bar {
  width: 80%;
}
.org {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 6px; */
  background-color: #333;
  height: 250px;
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
  color: #ffffff;
  margin-bottom: 60px;
  padding-bottom: 40px;
  /* margin-left:100px;
    margin-right:100px; */
}

.org-heading {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 20px;
  color: #3498db;
}

.right-col img {
  position: relative;
  top: 70px;
  float: right;
  width: 350px;
  z-index: 0;
}

.cards-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 80px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.card-org {
  border-radius: 16px;
  background-color: #f7f7f7;
  padding-top: 0.1px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  box-shadow: 1px 1px 5px #c9c9c9;
}

.org-view {
  border: none;
  padding: 8px;
  font-size: 7px;
  margin-top: 10px;
  height: fit-content;
  cursor: pointer;
  outline: none;
  background: none;
  border-radius: 10px;
}

.org-view:hover {
  background-color: none;
}

.org-view img {
  width: 18px;
}

.orgdes {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 200;
}
.org-name {
  font-weight: 500;
  font-size: 26px;
  color: #00558e;
  padding-top: 15px;
}
/* .button{
        display: flex;
        flex-direction: row;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        border: none;
        width: 220px;
        min-height: 20px;
        justify-content: space-evenly;
        background-color:  #196598;
        color: white;
        box-shadow: 1px 1px 3px rgb(90, 90, 90);
    } */

.bottomflex {
  display: flex;
  flex-direction: column;
}
.line {
  display: flex;
  justify-content: space-between;
}

.org-tags {
  padding-bottom: 20px;
}

.org-view:hover {
  background: #00558e;
}

.pop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.pop-content {
  background-color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 30px;
  width: 50%;
}
.pop-heading {
  color: #3498db;
  font-weight: 800;
}
.pop-flex {
  display: flex;
  justify-content: space-between;
}
.closeBtn {
  font-size: 30px;
  color: #5db3ec;
}
.closeBtn:hover {
  color: black;
  text-shadow: 2px 2px 2px #9e9c9c;
  cursor: pointer;
  transition-duration: 0.1s;
}
.giturl {
  font-size: 15px;
  color: gray;
}
.url {
  color: #3498db;
  font-size: 13px;
}
.Abt {
  color: #3498db;
  font-weight: 600;
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.toprep {
  color: #3498db;
  font-weight: 600;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.silt {
  font-weight: 500;
  margin-bottom: 5px;
}
.org-side-box {
  border-radius: 16px;
  background-color: #f7f7f7;
  padding-top: 0.1px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  box-shadow: 1px 1px 5px #c9c9c9;
  margin-top: 30px;
  width: 200px;
}
.side {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Adding media querries */

@media screen and (max-width: 990px) {
  .org {
    flex-direction: column-reverse;
    height: fit-content;
    text-align: center;
    padding: 0;
  }

  .right-col,
  .left-col {
    width: 95%;
    padding-bottom: 20px;
  }
  .right-col img {
    margin-top: 20px;
    position: unset;
    float: unset;
    width: 40%;
  }
  .org-heading {
    font-size: 30px;
  }
  .left-col p {
    font-size: 12px;
  }
  .top-bar {
    width: 95%;
  }
  .cards-grid {
    grid-template-columns: auto;
    width: 95%;
    grid-gap: 20px;
  }
  .orgdes {
    font-size: 14px;
  }
  .org-name {
    font-size: 20px;
  }

  /* adding media querries for modal box */

  .pop-content {
    width: 95%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .giturl {
    text-align: left;
  }

  .bottom-row {
    flex-direction: column;
  }

  .pop-heading {
    font-size: 30px;
  }

  .org-side-box {
    /* centering the boxes */
    margin-right: auto;
    margin-left: auto;

    width: 80%;
  }
}
