* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*num*/

.num {
  display: flex;
}

.num-first {
  font-size: 100px;
  font-weight: 700;
  color: #125581;
  margin-left: 28px;
}

.num-second {
  font-size: 30px;
  font-weight: 300;
  color: #125581;
  margin-left: 8px;
  margin-top: 74px;
}
.next1 {
  margin-left: 900px;
  margin-bottom: 30px;
  margin-top: 4px;
  background-color: #125581;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  width: 180px;
  min-height: 50px;
  justify-content: space-evenly;
  box-shadow: 1px 1px 3px rgb(90, 90, 90);
  font-size: 20px;
}
.option {
  font-size: 20px;
  padding-top: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 30px;
}

.option p {
  cursor: pointer;
  padding-top: 20px;
}

.option p:hover {
  color: #1f80c0;
  transition-duration: 0.2s;
}

.right-col {
  width: 20%;
}

.left-col {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.col {
  display: flex;
  display: inline;
}

.input {
  display: block;
  width: 100%;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 5px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #c2c2c2;
}

.input-bio {
  display: block;
  width: 100%;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 5px;
  margin-bottom: 20px;
  outline: none;
  border-bottom: 0.5px solid #c2c2c2;
}

.input-skills {
  display: block;
  width: 50%;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 15px;
  padding-left: 5px;
  outline: none;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #c2c2c2;
}

#myUL {
  margin-top: 20px;
}

#myUL li {
  color: #333333;
  list-style-type: none;
  margin: 5px;
  width: 200px;
  padding: 5px 10px;
  cursor: pointer;
  color: #333333;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.close {
  float: right;
  font-size: 18px;
  vertical-align: middle;
}

.addBtn {
  display: inline-block;
  border-radius: 10px;
  color: #757575;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f7f7f7;
}
.letstart {
  text-align: left;
  font-weight: 500;
  font-size: 50px;
  margin-left: 20px;
}
.qns {
  text-align: justify;
  color: #125581;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 50px;
  font-weight: 1000px;
}
.input {
  outline: none;
  max-width: 80%;
}
.how-flex {
  display: flex;
  flex-direction: row;
}

.script {
  margin-left: 25px;
  margin-bottom: 100px;
  color: #c2c2c2;
  font-size: 15px;
}
.script-new {
  margin-left: 210px;
  margin-bottom: 50px;
  color: #c2c2c2;
  font-size: 15px;
}

/* Adding media querries */

@media screen and (max-width: 850px) {
  header {
    position: unset;
  }

  .how-flex {
    flex-direction: column;
  }

  .option p {
    display: inline;
    margin: 10px;
    font-size: 14px;
  }

  .option {
    height: fit-content;
    margin-top: auto;
    padding: 20px 10px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: auto;
  }

  .right-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .qns {
    margin: 10px 20px;
  }

  .qns > p {
    font-size: 18px;
    padding-top: 20px;
  }
  .letstart {
    font-size: 30px;
    margin: 10px;
  }

  .input {
    width: 80%;
    padding-top: 5px;
  }

  .script {
    margin-left: 20px;
    font-size: 10px;
    margin-bottom: 50px;
  }

  .script-new {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-bottom: 50px;
    -webkit-margin-bottom-collapse: 10px;
  }

  .left-col {
    width: 100%;
  }
}
