.display-none {
  display: none;
}

a {
  text-decoration: none;
}

.tag {
  padding: 3px 8px;
  display: inline;
  border-radius: 500px;
  border: none;
  font-weight: 300;
  margin: auto 5px;
  white-space: nowrap;
  font-size: 10px;
  cursor: pointer;
  outline: none;
}

.tag:hover {
  box-shadow: 0 1px 5px rgb(209, 209, 209);
  transition-duration: 0.2s;
}

.javascript {
  background-color: #ffee00;
}

.html {
  background-color: #f59191;
}

.css {
  background-color: #c2efff;
}

.white {
  background-color: white;
}

ul,
li {
  list-style: none;
}

.container {
  margin: 0px 50px;
  display: flex;
  flex-direction: row;
}

/* side container */

.aside-top {
  width: 20%;
}

.aside-top h3 {
  font-weight: 400;
  font-size: 18px;
}

.top-languages {
  background-color: #f7f7f7;
  width: 90%;
  border-radius: 10px;
  padding: 5px 20px;
}

.follow {
  padding: 0px 5px;
  margin-top: 5px;
  display: none;
  float: right;
  font-size: 10px;
  opacity: 0.2;
  font-weight: 900;
}
.filter-mobile {
  display: none;
}

.follow:hover {
  display: block;
  background-color: rgb(191, 255, 96);
  border-radius: 10px;
  opacity: 1;

  transition-duration: 0.2s;
  cursor: pointer;
}

.explore-tags,
.top-organisations {
  margin-top: 30px;
  background-color: #f7f7f7;
  width: 90%;
  border-radius: 10px;
  padding: 5px 20px;
}

.top-heading {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-heading img {
  width: 20px;
  cursor: pointer;
}

.organisations-list,
.language-list {
  display: none;
}

.language-list li,
.organisations-list li,
.explore-list li {
  padding: 10px;
  padding-left: 5px;
}

.language-list li p,
.organisations-list li p,
.explore-tags li {
  display: inline;
  padding-left: 5px;
  font-weight: 300;
  cursor: pointer;
}

.language-list li img {
  width: 10px;
}

/* cards container */

.feed-main {
  width: 85%;
}

.top-bar {
  margin-bottom: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 5px #d4d4d4;
}

.search-bar {
  width: 40%;
}

.search-bar-form input {
  font-size: 15px;
  outline: none;
  padding: 5px;
  background-color: #f7f7f7;
  border: none;

  border-bottom: 0.1px solid rgb(155, 155, 155);

  width: 100%;
}

.search-bar-form input:focus {
  border-bottom: 2px solid rgb(45, 150, 182);
  transition-duration: 1s;
}

.control-page-items {
  width: 60%;
}

.filter-items {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.filter-mobile {
  display: none;
}

.dropdown-list {
  position: absolute;
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  width: 200px;
}

.dropdown-list li {
  font-weight: 200;

  color: #333;
  padding: 10px;
}

.dropdown-list li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-list p {
  display: inline;
  padding: 5px;
}

.dropdown-list img {
  width: 10px;
}

.dropdown-label {
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  cursor: pointer;
}

.dropdown-label img {
  width: 15px;
  vertical-align: middle;
  padding-bottom: 3px;
}

/* card  */

.card {
  width: 90%;
  background-color: #f7f7f7;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px #e4e4e4;
}

.card-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-top-row-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-profile-picture {
  border-radius: 50%;
  width: 6%;
  margin: 20px;
}

.project-info {
  margin: 20px;
}

.project-info p {
  display: inline;
}

.project-name {
  color: #0e69a5;
  font-weight: 500;
  font-size: 26px;
  padding-right: 3px;
  border-right: 2px rgb(150, 150, 150) solid;
}
.project-organisation-name {
  font-weight: 200;
  color: #333;
}
.project-date {
  font-weight: 200;
}

.card-save {
  float: right;
  margin: 50px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  background-color: rgb(203, 214, 252);
  cursor: pointer;
}

.card-save:hover {
  background-color: rgb(107, 141, 255);
  transition-duration: 0.2s;
}

.like-thumbs {
  width: 18px;
  margin: 0 5px;
  vertical-align: auto;
}

.likes-section {
  cursor: pointer;
  font-weight: 300;
  margin: auto 10px;
}

.card-description {
  display: flex;
  flex-direction: row;
}

.card-description-text {
  margin: 0px 30px 0px 20px;
  line-height: 25px;

  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-footer {
  border-top: 1px solid rgba(216, 216, 216, 0.459);
  padding: 20px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.issues-pullrequests div {
  border: 0.5px solid rgb(47, 196, 97);
  font-size: 12px;
  font-weight: 400;
}

.issues-pullrequests div:hover {
  box-shadow: 0px 2px 5px rgb(209, 209, 209);
  transition-duration: 0.1s;
}

.issues-pullrequests span {
  font-weight: 500;
}
.card-responses {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
}

@media screen and (max-width: 990px) {
  .container {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
  }

  .aside-top {
    width: 95%;
    margin-bottom: 30px;
    display: none;
  }

  .top-languages,
  .top-organisations,
  .explore-tags {
    width: 100%;
    margin-top: 20px;
  }

  .feed-main {
    width: 100%;
  }

  .top-bar {
    width: 95%;
    margin-bottom: 30px;
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .search-bar-form {
    width: 60%;
  }

  .control-page-items {
    display: none;
    width: 100%;
  }

  .filter-items {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: flex;
  }

  .filter-mobile {
    display: block;
    font-weight: 200;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    margin-right: 20px;
  }

  .filter-mobile img {
    width: 12px;
    margin: auto;
  }

  .filter-mobile-dropdown {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .dropdown-label {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    flex-direction: row;
  }

  .filter-left-col,
  .filter-right-col {
    width: 50%;
  }
  .filter-left-col p,
  .filter-right-col p {
    display: inline;
    padding: 0 10px;
    font-weight: 200;
  }

  .filter-mobile-dropdown li {
    font-weight: 200;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    margin: 15px;
  }

  .filter-mobile-dropdown li:hover {
    border-radius: 10px;
    transition-duration: 0.2s;
    background-color: rgb(236, 236, 236);
  }

  .filter-mobile-dropdown img {
    width: 10px;
  }

  .dropdown-list-filter {
    margin-left: auto;
    margin-right: auto;
  }

  .card-top-row {
    align-items: flex-start;
  }

  .card {
    width: 95%;
    margin: 15px auto;
  }

  .card-profile-picture {
    width: 15%;
    margin: 10px;
  }

  .project-name {
    font-size: 18px;
    font-weight: 400;
    border: none;
  }
  .project-organisation-name {
    font-size: 12px;
  }

  .project-info p {
    display: block;
  }

  .card-description-text {
    max-height: 100px;
    -webkit-line-clamp: 3;
    margin: 5px;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
  }

  .card-save {
    margin: 0;
    margin-top: auto;
    font-size: 8px;
    margin-bottom: auto;
    margin-right: 10px;
  }

  .card-footer {
    line-height: 50px;
  }
  .card-footer {
    line-height: 25px;
  }
  .tag {
    margin: 5px;
  }
  .card-responses {
    margin-top: 5px;
    font-weight: 100;
    font-size: 12px;
    margin-left: 5px;
  }
}
