.footer {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: -10px;
  padding: 0 50px;
}

.footer-content {
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 1rem;
}

.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.badges > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 8px 20px;
  cursor: pointer;
  border: 3px solid #000;
  text-decoration: none;
  color: #000;
}

.badges img {
  width: 1.3rem;
  margin-right: 8px;
  height: 25px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
}

.bottom-row a {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  text-align: center;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.bottom-row img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .footer {
    padding: 0 15px;
  }

  .badges > a {
    padding: 2px 5px;
    margin: 8px 3px;
    cursor: pointer;
    border: 3px solid #000;
    justify-content: space-between;
    font-weight: 400;
  }

  .bottom-row {
    padding: 20px 0;
  }

  .bottom-row img {
    width: 20px;
    height: 20px;
  }

  .bottom-row a {
    padding: 0.3rem;
    font-weight: 400;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    background-position: center;
  }
}
