/* main content */

.row {
  display: flex;
}

.left-col-btns {
  width: 30%;
  align-items: center;
}

.left-col-img {
  width: 35%;
}

.left-col-img img {
  width: 100%;
  margin-bottom: 0;
}

.landing-container {
  padding-top: 10vh;
  padding-right: 3vw;
  padding-left: 3vw;
}

.welcome-container {
  margin: 0 50px 20px 50px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.welcome-left {
  max-width: 60%;
}

.welcome-title {
  font-weight: 800;
  font-size: 3.75rem;
  color: black;
  text-align: left;
}

.landing-text {
  padding-top: 20px;
  font-size: 1.875rem;
  font-weight: 500;
  text-align: left;
}

.welcome-right {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.welcome-right img {
  max-width: 80%;
  float: right;
}

.sign-in-buttons {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.sign-in-buttons button {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  border-radius: 1000px;
  border: none;
  width: 220px;
  min-height: 50px;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 1px 1px 3px rgb(90, 90, 90);
}

.sign-in-buttons button:hover {
  cursor: pointer;
}

.sign-in-buttons button:focus {
  outline: none;
}

.email-button:hover {
  background-color: #ce0707;
}
.google-button:hover {
  opacity: 0.7;
}
.github-button:hover {
  background-color: #3f3f3f;
}

.sign-in-buttons button img {
  width: 10%;
  height: 100%;
}

.sign-in-buttons button p {
  font-size: small;
}

.email-button {
  background-color: #eb0606;
  color: white;
}

.github-button {
  background-color: black;
  color: white;
}

.google-button {
  background: linear-gradient(
    273deg,
    rgba(17, 17, 127, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.home-right-col {
  width: 35%;
}

.home-right-col img {
  width: 100%;
}

/* ABOUT SECTION */

.about-us-container {
  margin-top: 10vh;
  padding: 60px 20px;
  display: flex;
  margin-bottom: 10vh;
  background-color: #f7f7f7;
}

.about-left-col {
  max-width: 30%;
}

.about-left-col img {
  max-width: 100%;
  padding-left: 50px;
}

.about-right-col {
  max-width: 60%;
  text-align: right;
  margin: -30px auto 0 auto;
}

.about-right-col h1 {
  font-weight: 800;
  font-size: 3.75rem;
  margin-bottom: 30px;
}

.about-right-col p {
  font-weight: 250;
  font-size: 1.125rem;
}

/* HOW OSC WORKS SECTION */

.how-container {
  margin: 10vh 50px 5vh 50px;
}

.how-top-row {
  display: flex;
}

.how-top-left-col {
  max-width: 60%;
}

.how-top-left-col h1 {
  font-weight: 800;
  font-size: 3.75rem;
  padding-bottom: 50px;
}

.how-top-left-col p {
  font-weight: 250;
  font-size: 1.125rem;
}

.how-top-right-col {
  max-width: 40%;
  display: flex;
  justify-content: center;
}

.how-top-right-col img {
  max-width: 80%;
  float: right;
}

.how-bottom-row {
  padding: 80px 40px 60px 40px;
  justify-content: space-evenly;
  display: flex;
  text-align: center;
}

.how-card {
  max-width: 20%;
  border-radius: 15%;
  box-shadow: 0px 0px 8px #e6e6e6;

  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.how-card-img-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
}

.how-card img {
  max-width: 35px;
}

.how-card h3 {
  font-size: 1.5rem;
  color: #1583cc;
  padding-bottom: 30px;
}

.how-card p {
  font-weight: 200;
}

/* Adding media querries */

@media screen and (max-width: 990px) {
  .logo {
    display: flex;
    justify-content: space-between;
  }

  .icon {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column-reverse;
  }

  .links a {
    font-weight: 400;
    display: block;
  }

  .header-profile-dropdown {
    right: unset;
    left: 0;
  }

  .landing-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row div {
    width: 100%;
  }

  .home-right-col img {
    width: 70%;
    padding-right: 0;
    margin-right: 15%;
    margin-left: 15%;
  }

  .landing-text {
    font-size: 1.125rem;
    text-align: center;
  }

  .welcome-title {
    width: 100%;
    text-align: left;
    padding-top: 0;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.2rem;
    text-align: center;
  }
  .welcome-container {
    flex-direction: column-reverse;
    margin: 0 15px 0 15px;
  }
  .welcome-left {
    max-width: 100%;
  }

  .welcome-right {
    max-width: 100%;
  }

  .sign-in-buttons {
    flex-direction: column;
    padding-left: 0;
  }

  .email-section {
    max-width: 100%;
  }

  .email-section h3 {
    text-align: center;
  }

  .about-us-container {
    flex-direction: column;
  }
  .about-us-container div {
    max-width: 100%;
    text-align: center;
  }

  .about-left-col {
    padding-bottom: 50px;

    margin-right: auto;
    margin-left: auto;
  }

  .about-left-col img {
    padding-left: 0;
  }

  .about-right-col h1 {
    line-height: 60px;
    font-size: 3.5rem;
  }

  .about-right-col p {
    padding-top: -80px;
    font-size: 1rem;
  }

  .how-container {
    margin: 20px 15px 0 15px;
  }

  .how-top-row {
    text-align: center;
    flex-direction: column-reverse;
  }

  .how-top-row div {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .how-top-left-col h1 {
    line-height: 50px;
    font-size: 3.5rem;
  }

  .how-top-right-col {
    margin-bottom: 50px;
  }

  .how-bottom-row {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .how-card {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
  }
}
