.top-tabs {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}

ul,
li {
  list-style: none;
}
.test {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.top-tabs > p {
  border-radius: 20px;
  width: 27%;
  font-size: 17px;

  cursor: pointer;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-tabs > p:hover {
  box-shadow: 2px 2px 5px #d8d8d8;
  transition-duration: 0.2s;
}
.disappear2 {
  display: none;
}
.issues1 {
  width: 90%;
  height: 50px;
  text-align: center;

  font-weight: 500;
  border-radius: 6px;
  background-color: #c2efff;
  border: none;
  margin-top: 0px;
}
.pr2 {
  width: 90%;
  height: 50px;
  text-align: center;

  font-weight: 500;
  border-radius: 6px;
  background-color: #c2efff;

  border: none;

  margin-top: 0px;
}

.top-search-bar {
  width: 60%;

  margin: 30px 20px;
}

.top-bar {
  background-color: white;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search-bar-form {
  width: 60%;
  margin-right: 20px;
}

.filter-mobile {
  height: fit-content;
  padding-top: 10px;
  cursor: pointer;
  font-weight: 200;
}
.filter-mobile > img {
  width: 15px;
}

.search-bar-form input {
  font-size: 15px;
  outline: none;
  padding: 5px;
  background-color: #f7f7f7;
  border: none;
  border-bottom: 0.1px solid rgb(155, 155, 155);
  width: 100%;
}

.search-bar-form input:focus {
  border-bottom: 2px solid rgb(45, 150, 182);
  transition-duration: 1s;
}

.filter-items {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.filter-mobile-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  width: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #e4e4e4;
}
.dropdown-list-filter > li {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.dropdown-list-filter > li > img {
  width: 10px;
  margin-right: 5px;
}
.filter-mobile-dropdown li:hover {
  background-color: #f7f7f7;
}
.box {
  width: 90%;
  border-radius: 6px;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 12px;
  font-weight: 500;
  border: none;

  margin-top: 0px;
  width: 200px;
}
.pr1 {
  width: 90%;
  border-radius: 6px;
  background-color: #f7f7f7;
  text-align: center;

  font-weight: 500;
  border: none;

  margin-top: 0px;
}
.issues2 {
  width: 90%;
  border-radius: 6px;
  background-color: #f7f7f7;
  text-align: center;

  font-weight: 500;
  border: none;
  margin-top: 0px;
}

.input {
  display: block;
  width: 45%;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 7px;
  padding-left: 5px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #c2c2c2;
  /* background-color: #f7f7f7; */
  margin-left: 50px;
  /* margin-right: 20px; */
  margin-top: 50px;
  /* padding-bottom: 10px; */
}
.dropdown {
  /* position: relative; */
  display: inline-block;
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 100px;
  padding-top: 7px;
  margin-bottom: 22.5px;
  background-color: white;
  margin-right: 105px;
}
.issueheading {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 5px;
  cursor: pointer;
}
.issue-des {
  font-weight: 200;
}
.wholebox {
  background-color: #f7f7f7;
  border-radius: 6px;
  margin-left: 50px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 75vh;
  overflow-y: scroll;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.display-flex {
  display: flex;
  justify-content: space-around;
}
.bug {
  border-radius: 10px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;

  background-color: #fd8888;
  border: none;
  box-shadow: 1px 1px 5px #c9c9c9;
  margin-top: 0px;
  font-size: 15px;
}
.dis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px 0;
  background-color: #f7f7f7;
  height: 80vh;
  width: 20%;

  border-radius: 6px;
}
.dis-message {
  background-color: white;
  font-size: 12px;
  font-weight: 300;
  border-radius: 15px;
  border: none;
  padding: 10px;
  width: 85%;
  overflow-wrap: normal;
  overflow-x: scroll;
  resize: none;
}

.dis-message:focus {
  outline: none;
}
.dishead {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #c2c2c2;
}
.disbody {
  padding-top: 70px;
  padding-bottom: 0px;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.message img {
  width: 18px;
}
.dis-message-actions {
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.disbody {
  font-weight: 200;
}
.ratio-flex {
  display: flex;
  justify-content: space-between;
}

.label-milestone {
  background-color: white;
  display: flex;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 200;
  border-radius: 10px;
}

.label-milestone > div {
  display: flex;

  padding: 10px 15px;
}
.label-milestone > div:first-child {
  border-right: 1px solid #dddddd;
}

.label-milestone img {
  width: 15px;
  margin: auto 5px;
}
.label-milestone p {
  padding-top: 5px;
}
.label-number,
.milestone-number {
  margin-left: 10px;
  padding: 2px 10px;
  font-weight: 300;
  border-radius: 50%;
  background-color: #f7f7f7;
}

.label-number p,
.milestone-number p {
  margin-right: auto;
  margin-left: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 40px;
}
