.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  padding: 20px 50px;
  max-height: 90%;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 30px;
  overflow: scroll;
}

.right-col {
}

.tag-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 10px 20px;
}

.tag-cards > div {
  box-shadow: 0 0 5px rgb(192, 192, 192);
  margin: 0 20px;
  border-radius: 20px;
  width: 35%;
  padding-bottom: 10px;
}

.tag-cards > div > h3 {
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}

.tags {
  display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 830px) {
  .modal-main {
    width: 90%;
  }
}
@media only screen and (max-width: 670px) {
  .modal-main {
    top: 50px;
    padding: 20px 10px;
  }
  .tag-cards {
    flex-direction: column;
    align-items: center;
  }
  .tag-cards > div {
    width: 100%;
    margin: 20px;
  }
  .right-col img {
    display: none;
  }
  .left-col {
    text-align: center;
    width: 100%;
  }
}
