.organisations-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10%;
  margin: 20px 150px;
}
@media only screen and (max-width: 1200px) {
  .organisations-grid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 800px) {
  .organisations-grid {
    grid-template-columns: auto;
    width: 70%;
    margin: auto;
    grid-gap: 5%;
  }
}

@media only screen and (max-width: 680px) {
  .organisations-grid {
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
    grid-gap: 5%;
  }
}


