.flexing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-top: 20px;
  padding-right: 20px;
}

.flexingskills {
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flexingin {
  display: flex;
  justify-content: space-around;
}

.osp-heading {
  font-size: 2rem;
  width: 40%;
  margin-left: 15px;
  margin-top: 20px;
}

.osp-desc {
  font-size: 1rem;
  font-weight: 500;
}

.bigBox {
  box-shadow: 0 0 0.3125rem #888;
  margin: 30px;
  padding: 40px;
  border-radius: 20px;
  height: fit-content;
}

.qns {
  text-align: justify;
  font-size: 1.3rem;
  margin-top: 3.4rem;
  font-weight: 700;
}

.input {
  display: block;
  width: 20rem;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.03rem solid;
  border-width: medium;
}

.upload {
  margin: auto;
  display: block;
  padding: 10px 0;
  cursor: pointer;
}

.enter-button {
  margin-left: 45%;
  margin-right: 45%;
  min-width: 10%;
  border: none;
  color: white;
  background-color: rgba(15, 194, 194, 0.911);
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 15px;
}

.skills {
  display: flex;
  flex-direction: row;
}

.addButton {
  width: 40px;
  height: 40px;
  background-color: #0ba293;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.skill > li {
  margin-right: 20px;
}

.skillList {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skillList > .skill {
  list-style: none;
  width: auto;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  color: black;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  border: solid;
}

.skill > div {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .flexing {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin: 0;
  }

  .osp-heading {
    width: 100%;
    margin: 0;
  }

  .osp-heading > h1 {
    text-align: center;
  }

  .side-image img {
    width: 100%;
  }

  .osp-desc > h2 {
    text-align: center;
  }

  .bigBox {
    padding: 10px 2rem;
    margin: 5px;
  }

  .flexingin {
    flex-direction: column;
    justify-content: center;
  }

  .input {
    width: 100%;
  }

  .qns {
    margin-top: 1rem;
  }

  .skills > .input {
    width: 90%;
  }

  .skillList {
    width: 100%;
  }

  .enter-button {
    width: auto;
    margin: auto;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .osp-heading {
    font-size: 1.25rem;
  }

  .osp-desc > h2 {
    font-size: 1.2rem;
  }

  .side-image {
    width: 70%;
  }
}
