.usernamebox {
  max-width: 90%;

  max-width: 90%;
  margin-bottom: 1.875rem;
  border-radius: 1.25rem;
  padding-top: 0.4375rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 2.5rem;
  margin-top: 6.25rem;
}
.padding-below{
  margin-left:10.9375rem;
}
.usernamebox-profile {
  max-width: 90%;

  max-width: 90%;
  margin-bottom: 1.875rem;
  border-radius: 1.25rem;
  padding-top: 0.4375rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  padding-bottom: 0.625rm;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 2.5rem;
  margin-top: 12.5rem;
}

.imgabsolute-lower {
  margin-top: 1.5625rem;
  position: absolute;
}
.imgabsolute-lowerheart {
  margin-left: 3.125rem;
  margin-top: 11.25rem;
  position: absolute;
}
.follow {
  margin-top: 0.4375rem;
}
.heart {
  margin-top: 0.6875rem;
}
.smallbox {
  font-weight: 600;
  border-radius: 1.25rem;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin-top: 3.125rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 0.3125rem;
  width: 6.875rem;

  margin-right: 2.5rem;
}
/* .smallbox-below {
  font-weight: 600;
  border-radius: 1.25rem;
  padding-top: 0.3125rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1875rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 0.3125rem;
  height: 1.875rem;

  margin-right: 2.5rem;
} */
.disp-flex:first-child {
  width: 50%;
}
.smallbox-below {
  font-weight: 600;
  border-radius: 1.25rem;
  padding-top: 0.3125rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1875rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 0.3125rem;
  height: 1.875rem;
  margin-right: 0.625rem;
}
.smallboxwriting {
  margin-left: 0.9375rem;
  margin-top: 0.8125rem;
}
.smallboxwriting-follow {
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
.smallboxwriting-osp {
  margin-left: 0.9375rem;
  margin-top: 0.0625rem;
}
.user-flex {
  display: flex;
  justify-content: space-between;
}
.user-flex :first-child {
  flex-basis: 90%;
}
.margin {
  margin-left: 21.875rem;
}

.top-right-in {
  margin-left: 1.8125rem;
}
.usersname {
  font-size: 2.1875rem;
  font-weight: 550;
  margin-bottom: 0.625rem;
  margin-left: 10.9375rem;
}
.usersname-user {
  font-size: 2.1875rem;
  font-weight: 550;
  margin-bottom: 0.625rem;
}
.usercontent {
  color: #757a7a;
}
.userskills {
  font-size: 1.5625rem;
  font-weight: 450;
  margin-top: 0.625rem;
}
.boxcontent {
  margin-left: 21.875rem;
  margin-top: 1.875rem;
}
.langsec {
  display: flex;
}
.langsec-centre {
  display: flex;
  justify-content: center;
}
.langButtonJS {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: none;
  height: 2.1875rem;

  border-style: solid;
  border-color: red;
  margin-top: 0.625rem;
}


.savebutton {
  position: absolute;
  margin-left: 71.875rem;

  width: fit-content;
  padding-top: 0.3125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 1.25rem;
  cursor: pointer;
  border: none;
  height: 2.1875rem;
  color: white;
  background-color: black;
}
.date {
  font-weight: 600;
}
.contentuser {
  margin-top: 1.25rem;
}
.count {
  font-size: 1.6875rem;
  margin-top: 0.3125rem;
  margin-left: 0.9375rem;
}
.langButtonCSS {
  margin-top: 0.625rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: none;
  height: 2.1875rem;

  border-style: solid;
  border-color: Yellow;
}
.langButtonCSS-below {
  margin-top: 0.625rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: none;
  height: 2.1875rem;
  margin-left: 1.25rem;
  border-style: solid;
  border-color: Yellow;
}
.imgabsolute {
  position: absolute;
  margin-top: -15.625rem;
  margin-left: -9.375rem;
}
