.usernamebox {
  max-width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px #cccccc;
  padding: 20px 30px;
}
.padding-below {
  margin-left: 10.9375rem;
}
.usernamebox-profile {
  max-width: 90%;
  margin: 100px auto;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 0.3125rem #bbbbbb;
}

.imgabsolute-lower {
  width: 20%;
}
.card-left-col {
  flex-direction: column;
  display: flex;
}
.imgabsolute-lowerheart {
  margin-left: 3.125rem;
  margin-top: 11.25rem;
  position: absolute;
}
.follow {
  margin-top: 0.4375rem;
}
.heart {
  margin-top: 0.6875rem;
}
.smallbox {
  font-weight: 600;
  border-radius: 1.25rem;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  margin-top: 2rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 0.2rem;
  width: 6.875rem;
  margin-right: 2.5rem;
}
.card-top-row {
  display: flex;
  justify-content: space-between;
}

.disp-flex:first-child {
  width: 50%;
}
.smallbox-below {
  font-weight: 600;
  border-radius: 1.25rem;
  padding-top: 0.2125rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.1275rem;
  box-shadow: 0 0 0.3125rem #888888;
  padding-bottom: 0.3125rem;
  height: 1.875rem;
  margin-right: 0.625rem;
}
.smallboxwriting {
  margin-left: 0.9375rem;
  margin-top: 0.5125rem;
}
.smallboxwriting-follow {
  margin-left: 0.625rem;
  margin-top: 0.5125rem;
}
.smallboxwriting-osp {
  margin-left: 0.9375rem;
  margin-top: 0.5125rem;
}
.user-flex {
  display: flex;
  justify-content: space-between;
}

.card-lengsec {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.top-right-in {
  margin-left: 1rem;
}
.usersname {
  font-size: 30px;
  font-weight: 550;
  margin: 10px 20px;
  width: 40%;
}
.usersname-user {
  font-size: 42px;
  font-weight: 450;
  /* margin-bottom: 0.625rem; */
}
.usercontent {
  color: #757a7a;
  margin-left: 1.5rem;
  font-weight: 500;
  font-weight: 300;
}
.userskills {
  font-size: 1.5625rem;
  font-weight: 450;
  margin-top: 0.625rem;
  margin-left: 1.5rem;
}
.boxcontent {
  width: 70%;
  margin-left: 30px;
}
.top-left-col {
  width: 70%;
  display: flex;
}
.langsec {
  display: flex;
}

.links {
  width: 20%;
  margin-bottom: 50px;
  display: flex;
}

.langsec-centre {
  display: flex;
  justify-content: left;
  margin-left: 1.5rem;
}
.links > div > img {
  cursor: pointer;
  width: 80%;
  min-width: 30px;
}

.langButtonJS {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: 1px solid red;
  height: 2.1875rem;

  margin-top: 0.625rem;
}
.langButtonJSnew {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: none;
  height: 2.1875rem;

  margin-top: 1.3rem;
}
.project-heading {
  font-weight: 700;
  font-size: 3.5rem;
  margin-left: 9rem;
  margin-top: 4rem;
}
.savebutton-align {
  display: flex;
  justify-content: flex-end;
}

.savebutton {
  /* margin-left: 71.875rem; */

  width: fit-content;
  padding-top: 0.3125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 1.25rem;
  cursor: pointer;
  border: none;
  height: 2.1875rem;
  color: white;
  background-color: black;
}
.date {
  font-weight: 400;
}
.contentuser {
  margin-top: 1.25rem;
  font-weight: 300;
}
.count {
  font-size: 1.4rem;
  margin-top: 0.3125rem;
  margin-left: 0.9375rem;
}
.langButtonCSS {
  margin-top: 0.625rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: 1px solid #e7e722;
  height: 2.1875rem;
}
.langButtonCSS-below {
  margin-top: 1.3rem;
  width: fit-content;
  padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  border-radius: 0.5rem;
  font-weight: 450;
  border: none;
  height: 2.1875rem;
  margin-left: 1.25rem;
}
.imgabsolute {
  width: 20%;
  margin: 20px;
  min-width: 120px;
  position: relative;
  top: -90px;
  box-shadow: 0 10px 10px #b4b4b4;
  border-radius: 20px;
}

.username-skill {
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
  .user-flex {
    flex-direction: column;
  }
  .boxcontent {
    width: 70%;
  }
  .top-left-col {
    width: 100%;
    height: fit-content;
  }
  .usersname-user {
    font-size: 32px;
  }
  .username-skill {
    font-size: 28px;
  }
  .imgabsolute {
    position: unset;
    margin-top: unset;
  }
  .links {
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .top-left-col {
    flex-direction: column;
  }
  .hr {
    display: none;
  }
  .imgabsolute {
    position: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .boxcontent {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .links {
    margin: 20px auto;
    width: 80%;
    justify-content: space-around;
  }
  .usercontent {
    font-size: 16px;
  }
  .langsec-centre {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 30px;
    grid-gap: 30px 60px;
  }
  .smallbox {
    margin: 0;
  }
}
