.search-bar {
  width: 60%;
  background-color: black;
  margin: 30px auto 50px auto;
  border-radius: 100px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-col {
  width: 40%;
}
.right-col {
  display: flex;
}
.filter-show {
  float: right;
  display: flex;
  cursor: pointer;
  margin: 0 10px;
}
.filter-show > p {
  color: white;
  font-size: 18px;
}
.filter-show > img {
  width: 25px;
  margin-left: 10px;
}
.filter-dropdown {
  color: white;
  position: absolute;
  background-color: black;
  margin-top: 35px;
  margin-left: 20px;
  padding: 20px 30px;
  padding-left: 10px;
  border-radius: 10px;
}
.dropdown-items {
  padding-top: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}
.filter {
  min-width: 150px;
  font-size: 14px;
  font-weight: 200;
}
