.side-drawer {
  height: 100%;
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.close-button {
  margin: 23px 30px;
}
.header-profile-picture {
  width: 40px;
  border-radius: 50%;
  border: 1px solid #333;
  margin-right: 10px;
  box-shadow: 10px 10px 10px rgb(223, 223, 223);
}
.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile {
  margin: 50px 20px;
}

.dropdown {
  border-radius: 20px;

  margin: 10px;
  background-color: #f7f7f7;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);
}

.top-right-col {
  border-radius: 10px;
}

.top-left-col {
  display: flex;

  align-items: center;
  font-size: 22px;
}

.top-right-col img {
  width: 35px;
  float: right;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);
  border: 1px solid #333;
  cursor: pointer;
  margin-bottom: 20px;
}
.bottom-row {
  margin: 20px 0px;
  display: flex;
  color: white;
  font-size: 14px;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.dd-button {
  padding: 5px 10px;
  border-radius: 8px;
  width: 80%;
  margin: 5px;
  box-shadow: 5px 5px 5px rgb(223, 223, 223);
  text-align: center;
  cursor: pointer;
}

.dd-button:nth-child(1) {
  background-color: #029843;
}
.dd-button:nth-child(2) {
  background-color: white;
  border: 1px solid #333;
  color: black;
}
.dd-button:nth-child(3) {
  background-color: #fe5e44;
  border: none;
  color: white;
}
.links {
  display: flex;
  height: 30vh;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
}
.link {
  padding: 0 30px;
  font-weight: 500;
}
.link p {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .side-drawer {
    width: 50%;
  }
}
