$box-shadow-dark: 0 0 0.3125rem #888888;
$box-shadow-thin-light :  5px 5px 5px rgb(223, 223, 223); 
$box-shadow-thick-light :  10px 10px 10px rgb(223, 223, 223); 

$box-shadow-dimensions: 0 0 0.3125rem ; 

$box-shadow-light: 0 0px 8px #e4e4e4;
$box-shadow-pale: 0 0 5px #e6e6e6;
$border-bstyle: 0.7px solid #c4c4c4;

@mixin padding-all($pad-up,$pad-right,$pad-down,$pad-left) {
  padding-top: $pad-up;
  padding-right: $pad-right;
  padding-left: $pad-left;
  padding-bottom: $pad-down;
}


@mixin button-fontstyle {
    font-size: 0.9375rem;
    font-weight: 450;
    border-radius: 0.5rem;
  }
  