.landing-container {
  display: flex;
  margin: 10px 50px;
  align-items: center;
  height: 350px;
}
.left-col {
  width: 60%;
}
.left-col h1 {
  font-size: 5.5vw;
  color: black;
}
.left-col p {
  margin-left: 10px;
  color: #6d6d6d;
}

.right-col {
  width: 40%;
}
.right-col img {
  width: 85%;
  margin-top: 10px;
}

.hrLine {
  width: 10%;
  border: none;
  background-color: #333;
  height: 8px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 680px) {
  .landing-container {
    align-items: center;
    text-align: center;
    margin:0 15px 0 15px;

    flex-direction: column-reverse;
  }
  .hrLine {
    width: 100%;
    margin: unset;
    height: 4px;
    margin-bottom: 10px;
  }
  .left-col {
    width: 100%;
  }
  .right-col {
    width: 90%;
    margin: auto;
  }
  .right-col img {
    margin: auto;
  }
  .left-col p {
    font-size: 14px;
  }
  .left-col h1 {
    font-size: 30px;
  }
}
