.flex {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.heading {
  width: 40%;
  font-size: 1.8rem;
}

.heading > h1 > hr {
  height: 1rem;
  width: 2em;
  background-color: #000;
  border-radius: 100px;
}

.p-org {
  font-size: 1.4rem;
  margin-top: 8px;
}

.search-bar {
  width: 100%;
  background-color: black;
  border-radius: 112px;
  padding: 7.2px 7.2px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.left-col {
  display: flex;
  width: 100%;
}

.input-bar {
  border: none;
  color: white;
  background-color: black;
  font-size: 1.15rem;
  font-weight: 300;
  width: 90%;
  margin-left: 1.3rem;
  outline: none;
}

.search-icon {
  min-width: 7px;
  margin: 5px 5px auto 15px;
  min-height: 7px;
}

.side-image {
  display: flex;
  justify-content: center;
  width: 40%;
}

.side-image img {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
  align-items: flex-end;
}

.button-container > button {
  padding: 10px 20px;
  margin: 5px 20px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition-duration: 0.2s;
}
.button-container > p {
  color: rgb(236, 88, 88);
  margin-right: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}

.next {
  background-color: #00caca;
}

.button-container > button:hover {
  transition-duration: 0.2s;

  opacity: 0.8;
}

.org-container {
  align-items: center;
  display: flex;
  margin: 10px 20px;
}

.org-list {
  width: 90vw;
  overflow-x: scroll;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.org-list::-webkit-scrollbar {
  width: 0 !important;
}

.org-card {
  width: 320px;
  box-shadow: 0 0 10px #b3b3b3;
  color: white;
  height: 70px;
  margin: 2vh 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.org-card > button {
  color: #333;
  background-color: none;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.org-card > button:hover {
  background-color: #e6e6e6;
  transition-duration: 0.2s;
}

.org-card > p {
  color: white;
  text-decoration: none;
}

.org-card > img {
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.org-card > p::first-letter {
  text-transform: uppercase;
}

.slide-left,
.slide-right {
  background-color: white;
  border: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .search-bar {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .flex {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .flex > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .heading {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .heading > h1 > hr {
    display: none;
  }

  .p-org {
    text-align: center;
  }

  .side-image {
    width: 70%;
  }

  .next,
  .unselect {
    min-width: 15%;
    width: auto;
  }
  .button-container {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .next {
    min-width: 25%;
    float: none;
    display: block;
    margin: 32px auto;
  }

  .org-list {
    height: 60vh;
  }

  .side-image {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .input-bar {
    width: 60%;
  }

  .slide-left,
  .slide-right {
    display: none;
  }
  .org-list {
    width: 100vw;
    overflow-y: scroll;
    overflow-x: unset;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .org-card {
    font-size: 1rem;
    padding: 5px 10px;
    height: fit-content;
  }
  .org-card > a {
    width: 55%;
    overflow-x: hidden;
  }
  .org-card > button {
    padding: 2px 5px;
    margin: 10px 2px;
    font-size: 0.8rem;
  }
  .button-container {
    flex-direction: column;
  }
}
