@import 'variables';


.boxes {
  box-shadow: $box-shadow-light;
  margin-top: 4rem;
  @include padding-all(3rem, 3rem, 30px, 3rem);
  border-radius: 1.4rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.boxes2 {
  box-shadow: $box-shadow-light;
  margin-left: 2rem;
  margin-top: 4rem;
  @include padding-all(3rem, 0rem, 3rem, 4rem);
  border-radius: 2rem;
  height: fit-content;
  margin-bottom: 2rem;
  width: 60%;
}
.number-page {
  font-size: 7rem;
  font-weight: 400;
}
.number-page-small {
  font-size: 2.5rem;
  font-weight: 300;
  padding-top: 4.3rem;
}
.option-flex {
  display: flex;
  width: 90%;
  margin: 20px auto;
  flex-direction: column;

  padding-bottom: 20px;
}

.options {
  border-radius: 0.5rem;
  width: 98%;
  padding: 5px 10px;
  margin-top: 1.5rem;
  margin-right: auto;
  border: 1px solid #eeeeee;
  margin-left: auto;
  background-color: white;
  font-size: 1.35rem;
  font-weight: 300;
  cursor: pointer;
  /* margin-left: 5rem; */
}
.options:hover {
  box-shadow: $box-shadow-pale;
  transition-duration: 0.1s;
}
.options:last-child {
  margin-right: 0;
}
.options1 {
  border-radius: 0.5rem;
  width: 17.5rem;
  height: 3.7rem;
  margin-top: 1.5rem;
  background-color: white;
  /* margin-left: 5rem; */
}

.flexing-links {
  display: flex;
  font-weight: 500;
}
.flexing {
  width: 80%;
  margin: initial auto;
  justify-content: center;
  display: flex;
  align-items: center;
}

.flexing-first {
  display: flex;
  justify-content: space-evenly;
}
.qns {
  text-align: justify;
  color: #00caca;
  font-size: 1rem;
  /* margin-left: 4rem; */
  margin-top: 3.2rem;
  font-weight: 700;
}
.qns > p {
  font-size: 1.2rem;
  font-weight: 500;
}
.submitButton {
  display: block;
  margin: auto;
  min-width: 15%;
  min-height: 2.5rem;
  border: none;
  border-radius: 0.2rem;
  background: rgb(0, 202, 202);
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  cursor: pointer;
}

.submitButton:disabled {
    cursor: initial;
    opacity: 0.5;
    background-color: #333; 
  }

.input {
  display: block;
  width: 90%;
  border: none;
  font-size: medium;
  font-weight: 200;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.5rem;
  border-bottom: $border-bstyle;
}

#about-info-count {
    color: #424040;
    font-size: 0.8rem;
}

.invalid {
  border-style: solid !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem;
  border-width: 0.1rem !important;
  border-color: red !important;
}

.input:focus,
.input-bio:focus {
  border-bottom: 0.5px solid #06d1d1;
}
.basic-head {
  font-size: 3.5rem;
  font-weight: 450;
  color: #0080b7;
  padding-right: 10px;
}
.input-bio {
  display: block;
  width: 90%;
  border: none;
  font-size: medium;
  font-weight: 300;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  margin-bottom: 1.5rem;
  border-bottom: $border-bstyle;
}

.icon-padding {
  margin-left: 0.2rem;
}

.skills {
  display: flex;
  flex-direction: row;
}
.input {
  width: 70%;
}
.addButton {
  width: 40px;

  margin: 0 20px;
  height: 40px;
  background-color: #06d1d1;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.addButton:disabled {
    cursor: initial;
    opacity: 0.5;
    background-color: #333; 
  }

.skillList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;  
  margin-bottom: 1rem;
}

.skill > li {
  margin-right: 20px;
}

.skill {
  list-style: none;
  width: fit-content;
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 5px;
  color: black;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill > div {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .flexing-first {
    display: flex;
    flex-direction: column;
  }
  .boxes2 {
    width: 99%;
    margin: 30px auto;
    padding-right: 0.8rem;
  }
  .boxes {
    width: 99%;
    margin: 20px auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .options {
    border-radius: 0.5rem;

    margin-left: auto;
    margin-right: auto;
    height: 3.7rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 450;
  }
  .option-flex {
    width: 90%;

    margin: 10px auto;
  }
  .basic-head {
    font-size: 46px;
  }
}
@media (max-width: 630px) {
  .basic-head {
    font-size: 40px;
  }
  .boxes {
    padding: initial 30px;
    flex-direction: column;
  }
  .boxes2 {
    padding: 10px 20px;
  }
  .input {
    width: 90%;
  }
  .submitButton {
    min-width: 25%;
  }
}
