* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.header-logo {
  width: 200px;
}

.toggle-button {
  left: -100px;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  height: 20px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button_line {
  width: 30px;
  height: 3px;
  background: black;
}


.Toastify__toast {
  border-radius: 1rem;
  cursor: context-menu;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
  .toggle-button {
    position: absolute;
    display: flex;
    position: unset;
  }
}
